<header
  class="
    flex-row
    align-items-center
    justify-content-space-between
    bg-gray-light
    vw-100
    pd-20
  "
>
  <div class="cursor-pointer" onclick="(_=>window.location.href = window.location.origin)()">
    <h1>Cart</h1>
    <p>All the selected products in yourt cart</p>
  </div>

</header>
