<header
  class="
    flex-row
    align-items-center
    justify-content-space-between
    bg-gray-light
    vw-100
    pd-20
  "
>
  <div>
    <h1>Products</h1>
    <p>All the asdasdadasd adasadasd</p>
  </div>
  <button
    class="
      flex-row
      justify-content-space-around
      align-items-center
      pd-6
      bd-rd-thin
      cl
      bd-thin
    "
  >
    <img
      class="icon"
      src="/static/icon/shopping-cart.png"
      alt="shopping-cart"
    />
    <p>view cart</p>
  </button>
</header>
