<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mobile shop</title>
    <script defer src="/static/lib/jquery-3.6.0.min.js"></script>
    <script defer src="/static/lib/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <p id="lda"></p>

    <%- include('./component/header/header.ejs', {user: {name:"le duan anh"}});
    %>

    <p>404 error page</p>
  </body>
</html>
