<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  
  <%- include('./component/common/head.ejs'); %>
  <!-- head -->
  <body>

    <!-- header -->
    <%- include('./component/header/header.ejs', {amount: amount}); %>
    <!-- header -->
    
    <!-- products section -->
    <%- include('./component/product/product_detail.ejs', {product: product}); %>
     <!-- products section -->

    </div>
  </body>
</html>
