<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  
  <%- include('./component/common/head.ejs'); %>
  <!-- head -->
  <body>

    <!-- header -->
    <%- include('./component/header/header.ejs', {amount: amount}); %>
    <!-- header -->
    
     <!-- form -->
     <%- include('./component/product/product_create_form.ejs'); %>
     <!-- form -->

    <P id='state' hidden>state</P>

  <script defer src="/static/js/pageJs/productUpload.js"></script>
  </body>
</html>
