/* background color */
.bg {
  background-color: white;
}

.bg-gray-light {
  background-color: rgb(221, 217, 217);
}

.bg-gray {
  background-color: rgb(151, 151, 151);
}

.bg-gray-dark {
  background-color: rgb(87, 87, 87);
}
/* color */
.cl {
  background-color: white;
}
