/* view unit */
.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}

/* percent unit */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

/* fixed unit */

.w-100p {
  width: 100px;
}
