<div class="flex-row  flex-warp justify-content-space-around vw-60 mg-auto mg-tb-20 ">
  <% products.forEach(product => {%> <%- include('./product_card.ejs', {product:
  product}); %> <% }); %>
</div>
